
.row DogDetails {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 5px;
  margin-left: 20px;
}

.DogDetails img {
  width: 30%;
  border-radius: 5%;
  margin-top: 1rem;
  padding: 5px;
}

.link {
  text-decoration: none;
  color: #fff;
}