.container {
    margin: 0 auto;
    width: 100%;
    background-color:aliceblue;
}

#boggle {
  margin: 0 auto;
  text-align: center;
  width: 400px;
}

#message-box {
  margin: 0 auto;
  width: 200px;
  border: 1px solid black;
}

.board {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  border: solid 2px black;
  padding: 5px;
  font-family: monospace;
  font-weight: bold;
  font-size: 250%;
  background-color: #fff;
  width: 320px;
}

.board td {
   text-align: center;
    width: 1.5em;
    height: 1.5em;
}

input {
  display: inline;
  width: 240px;
  height: 25px;
}

.msg {
  margin: 0 auto;
  text-align:left;
  max-width: 400px;
  padding: 1em;
}

.msg.ok {
    color: white;
    background-color: green;
}

.msg.err {
    color: white;
    background-color: tomato;
}

button {
    display: inline;
    height: 35px;
    vertical-align: top;
    background-color:purple;
    color: #fff;
    border: 2px solid white;
    border-radius:6px;
    padding: 0 10px;
    margin-bottom: 5px;
  }

  button.hover {
    display: inline;
    background-color:grey;
  }

  h1 {
    display: relative ;
    font-family: "Righteous", cursive;
    font-size: 4rem;
    color: #0a0a23;
    margin-top: 0px;
    margin-bottom: 6px;
  }

  h3 {
    display: relative ;
    font-family: "Righteous", cursive;
    font-size: 1rem;
    color: white;
  }

  p {
    font-family: "Righteous", cursive;
    font-size: 16px;
    color: black;
    margin-top: 0px;
    margin-bottom: 6px;
  }

  li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    text-align: left;
    max-width: 400px;
  }

  .scoreboard {
    display: inline-flex;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 170px;
    background-color: lightgrey;
    border: solid 2px black;
    border-radius: 10px;
    padding: 5px 5px;
  }


  .high-score {
    display: inline-flex;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 110px;
    background-color:yellow;
    border: solid 2px black;
    border-radius: 10px;
    padding: 5px 5px;
  }

  .navbar {
    background-color: black;
    overflow: hidden;
  }

  .navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Righteous", cursive;
    font-weight: bold;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: grey;
    color: black;
  }
  
  .footer {
    background-color: black;
    color: white;
    margin: 0 auto;
    padding: 1px;
  }
