.Pokedex {
    text-align: center;
}

.Pokedex-title {
    color: purple;
    font-family: "Roboto", sans-serif;
    font-weight:lighter;
    font-size: 2rem;
}

.Pokedex-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Pokedex-winner {
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    color: orangered;
}

/* Path: src/Pokecard.css */