.Pokecard {
    background-color: grey;
    background-image: linear-gradient(purple, yellow);
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    width: 200px;
    display: inline-block;
    vertical-align: top;
}

.Pokecard-title {
    color: white;
    font-size: 1.5rem;
    font-family: "roboto", sans-serif;
    font-weight: bold;
}

.Pokecard-data {
    font-size: 1rem;
    font-family: "roboto", sans-serif;
    font-weight: bold;
}

.Pokecard-img {
    width: 100%;
}

img {
    width: 100%
}




