{% extends "base.html" %}

{% block content %}

<h1>All the cupcakes!</h1>
<div id="all-cupcakes">
  <!-- this is where cupcakes will be added using JS-->
</div>

<h1>Submit a new cupcake!</h1>
<!-- dont need action/method if being handled in JS -->
<form id="add-new-cupcake">
  {{ form.hidden_tag() }}

  {% for field in form
         if field.widget.input_type != 'hidden' %}

    <p>
      {{ field.label(class="form-label") }}
      {{ field(class="form-control") }}

      {% for error in field.errors %}
        {{ error }}
      {% endfor %}
    </p>

  {% endfor %}

  <button type="submit" class="btn btn-primary">Add a new cupcake!</button>
</form>

{% endblock %}