body {
    background-color: #d0cfcf;
  }

nav {
    background-color: hsl(263, 63%, 52%);
    line-height: 2;
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    text-decoration: underline bold;
}

.form {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    font-size: 12pt;
    font-weight: bold;
    color: rgb(78, 22, 78);
}

a {
    color:hsl(264, 64%, 81%)
}


div {
    column-width: 800px;
}

p {
    font-family: 'Roboto', sans-serif; 
    font-size: 14pt;
    
}

h1 {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 20pt; 
    font-weight: bold;
}

h2  {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 18pt; 
    font-weight: bold;
}

h3  {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 16pt; 
}

h4  {
    font-family: 'Times New Roman', Times, serif; 
    font-size: 14pt; 
}