
button {
	font-size: 16px;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 5px;
	background-color: #1182f3;
	color: white;
	margin: 50px auto;
  	display: block;
	transition: color 0.3s ease-in, background-color 0.3s ease-in;
}

button:focus {]
	outline: none;
}

button:hover {
	margin: 50px auto;
  	display: block;
}
