.Carousel-main {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.Carousel-main > i {
  cursor: pointer;
  color: #aaa;
  z-index: 10;
}

.Carousel-main > i:hover {
  color: black;
}

.bi {
  font-size: 35px;
}

