
button {
	padding: 10px 18px;
	font-size: 18px;
	border-radius: 5px;
	background-color: #2483e3;
	color: white;
	margin: 50px auto;
	display: block;
  }

button:focus {
	outline: none;
}

button:hover {
  cursor: pointer;
  background-color: #296aa6;
  transition: color 0.3s ease-in, background-color 0.3s ease-in;
}


.feature {
	width: 30%;
	background-color: #eee;
	border: 1px solid grey;
	border-radius: 10px;
	margin: 0 auto;
	box-shadow: 0px 2px 2px 0px #bbb;
}

.pic {
	background-image: url("../imgs/catpic.jpg");
	width: 100%;
	padding-bottom: 60%;
	background-size: cover;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
  }

  .header {
	background-color: #eee;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 22px;
	font-weight: bold;
	padding: 10px;
  }

  .description {
	padding: 10px;
	background-color: #eee;
	border-top: 1px solid #ccc;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	font-size: 16px;
  }