{% extends "base.html" %}
{% block content %}
  
<h1>Our Pets</h1>

<div class="row pets-listing">
    {% for pet in pets %}
    <div class="col-3">
      <div class="card">
        <img class="card-image-top" src="{{ pet.image_url() }}"  alt="Pet photo" >
        <div class="card-body">
            <a href="{{ url_for('edit_pet', pet_id=pet.id) }}">{{ pet.name }}</a>
            {% if pet.available %} <b class="text-success">is available!</b> {% endif %}
            <p>{{ pet.notes }}</p>
        </div>
      </div>
    </div>
    {% else %} 
    <div class="col-12">No pets yet.</div>
    {% endfor %}
  </div>
  <div class="mt-5">
    <p><a class="btn btn-primary" href="{{ url_for('add_pet') }}">Add a Pet</a></p>
  </div>
</div>





{% endblock %}

