.Soda {
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Soda button {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  text-transform: uppercase;
  background-color: pink;
}

.Soda button:hover {
  background-color: red;
  cursor: pointer;
}

.Soda button:active,
.Soda button:focus {
  outline: none;
}

.bottle {
  background: none;
  position: absolute;
  width: 200px;
}