.VendingMachine {
  text-align: center;
  margin: 0 auto;
  height: 700px;
  width: 600px;
  background-size: cover;
  align-items: left;
  justify-content: space-between;
}

.VendingMachine .Message {
  margin-top: 10px;
  font-size: .7rem;
}

a {
  color: aqua;
  text-decoration: none;
  align-items: left;
  border: 1px solid #ffffff;
  border-radius: 20px;
  padding: 2px 10px;
  background: rgba(11, 11, 11, 0.5) 
}

a:hover {
  text-decoration: underline;
}

.VendingMachine-links {
  display: flex;
  margin-left: 420px;
  justify-content: space-around;
}

img {
  display: flex;
  width: 30%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: black;
}

.backgroundImage {
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh;
  width: 60vw;
}