.Navbar {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #282c34;
    color: white;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.navbar-brand img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.Navbar a {
    color: white;
    text-decoration: none;
}

.Navbar a:hover {
    color: #61dafb;
}

.Navbar a.active {
    color: #61dafb;
    text-decoration: dotted;
}


li {
    list-style: none;
    padding: 5px;
}


.Navbar .menu {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.Navbar .menu a {
    color: white;
    text-decoration: none;
}

.Navbar .menu a:hover {
    color: #61dafb;
}

.Navbar .menu a.active {
    color: #61dafb;
}

