BODY {
    background-color: lightgoldenrodyellow;
  }

P {
    font-family:Arial, Helvetica, sans-serif; 
    font-size: 14pt;
}

H1 {
    font-family:Arial, Helvetica, sans-serif; 
    font-size: 36pt; 
    font-weight: bold;
}

div1 {
    column-width: 250px;
}

